<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>Hi I'm <strong>David Aviles</strong> . I am FullStack developer and also have expertise in Angular2-8,Python,NativeScript,Database managment,APIs,NodeJS and Machine learning(Supervised learning & Unsupervised learning),GIT. I have
                            done projects from scratch for companies and I also have done my own projects as a hobby.</p>



                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">January 06, 1998</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">Davidavilesco@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Location:</strong>
                            </div>
                            <div class="col-sm-8">Culiacán, Sinaloa México
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Spanish, English</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>