<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">


            <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="thumbnail">
                        <img src="assets/images/Phytomonitor.png" alt="Card image" style="width:100%">
                        <div class="text-center mt-1">
                            <p>Web app for a enterprise,its a big app with many modules. Now this app is on production and it was made with Angular,.Net Apis, PrimeNG, JWT and other plugins</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="thumbnail">
                        <img src="assets/images/Biopsiadx.png" alt="Card image" style="width:100%">
                        <div class="text-center mt-1">
                            <p>Web app for a Lab, this app has a lot of modules, they can upload photos,records, pdf, manipulate values and so on.it was made with Angular,.Net Apis, PrimeNG, JWT and other plugins </p>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>